.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #91cc42;
    
}

.stats-wrapper {
    left: auto !important;
}

@media (max-width: 767px){
.stats-wrapper {
    text-align: center;
}
}

@media (min-width: 760px) and (max-width: 900px){
    .stats-wrapper {
        text-align: center;
    }
    }
    

.stat-single {
    margin: 0 auto;
    font-family: Montserrat;

}


